<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name></display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>servlet.Login</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Test</servlet-name>
    <servlet-class>servlet.Test</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Initialize</servlet-name>
    <servlet-class>servlet.Initialize</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Student_infoControl</servlet-name>
    <servlet-class>servlet.Student_infoControl</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Express_infoControl</servlet-name>
    <servlet-class>servlet.Express_infoControl</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Repairs_infoControl</servlet-name>
    <servlet-class>servlet.Repairs_infoControl</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Come_back_infoControl</servlet-name>
    <servlet-class>servlet.Come_back_infoControl</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Night_back_infoControl</servlet-name>
    <servlet-class>servlet.Night_back_infoControl</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>InsertExpress</servlet-name>
    <servlet-class>servlet.InsertExpress</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>InsertCome</servlet-name>
    <servlet-class>servlet.InsertCome</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>InsertNight</servlet-name>
    <servlet-class>servlet.InsertNight</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Changepassword</servlet-name>
    <servlet-class>servlet.Changepassword</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>InsertStudent</servlet-name>
    <servlet-class>servlet.InsertStudent</servlet-class>
  </servlet>













  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Test</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Initialize</servlet-name>
    <url-pattern>/initialize</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Student_infoControl</servlet-name>
    <url-pattern>/student</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Express_infoControl</servlet-name>
    <url-pattern>/express</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Repairs_infoControl</servlet-name>
    <url-pattern>/repairs</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Come_back_infoControl</servlet-name>
    <url-pattern>/come</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Night_back_infoControl</servlet-name>
    <url-pattern>/night</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InsertExpress</servlet-name>
    <url-pattern>/iexpress</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InsertCome</servlet-name>
    <url-pattern>/icome</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InsertNight</servlet-name>
    <url-pattern>/inight</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Changepassword</servlet-name>
    <url-pattern>/cp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InsertStudent</servlet-name>
    <url-pattern>/istudent</url-pattern>
  </servlet-mapping>	
  <welcome-file-list>
    <welcome-file>initialize</welcome-file>
  </welcome-file-list>
</web-app>
